/* body as flex container */
body {
  display: flex;
  flex-direction: column;
  background-color: #d8f3dc;
}

/* main header */
header {
  display: flex;
  background-color: black;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
}

h1 {
  font-size: 200%;
}

/*namelogo width and height and adding transition property to it for rotation*/
.logo {
  width: 4rem;
  height: 4rem;
  transition: all 5s ease 0s;
}

/*setting color for name in header */
.name {
  color: #edf0f1;
  margin-right: auto;
  padding: 1%;
}

/* nav bar links */
.nav_bar ul {
  display: flex;
  justify-content: space-between;
  width: 19rem;
}

/* decoration for anchor tags*/
.nav_bar a {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  color: #edf0f1;
  text-decoration: none;
  transition: all 2s ease 0s;
}

/* adding hover effect on anchor tags */
.nav_bar a:hover {
  color: #ddf5cb;
}

/* adding hover effect on name logo*/
.logo:hover {
  transform: rotate(360deg);
}

/* style for quote and making it as a single row */
.quote-container {
  height: 10rem;
  width: 100%;
  margin-bottom: 1.5rem;
  background-image: url("../images/QuoteImage.jpg");
  background-size: contain;
  background-position: center;
  flex: 0 0 100%;
}

/* main container as flexbox */
main {
  display: flex;
  flex-wrap: wrap;
}
