:root {
  --c--black: #000000;
  --c--bgreen: #d8f3dc;
  --c--offwhite: #edf0f1;
  --c--dgreen: #6ca342;
  --c--lgreen: #ddf5cb;
  --c--gblack: #333333;
  --c--yellow: #ffd82b;
}

/* body as flex container */
body {
  display: flex;
  flex-direction: column;
  background-color: var(--c--bgreen);
}

/* >>>>>>>>>>>>>> header >>>>>>>>>>>>>>>>>  */
/* main header */
header {
  display: flex;
  background-color: var(--c--black);
  justify-content: space-between;
  align-items: center;
  padding: 1%;
}

h1 {
  font-size: 200%;
}

/*namelogo width and height and adding transition property to it for rotation*/
.logo {
  width: 4rem;
  height: 4rem;
  transition: all 5s ease 0s;
}

/*setting color for name in header */
.name {
  color: var(--c--offwhite);
  margin-right: auto;
  padding: 1%;
}

/* nav bar links */
.nav_bar ul {
  display: flex;
  justify-content: space-between;
  width: 19rem;
}

/* decoration for anchor tags*/
.nav_bar a {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--c--offwhite);
  text-decoration: none;
  transition: all 2s ease 0s;
}

/* adding hover effect on anchor tags */
.nav_bar a:hover {
  color: var(--c--yellow);
}

/* adding hover effect on name logo*/
.logo:hover {
  transform: rotate(360deg);
}

/* style for quote and making it as a single row */
.quote-container {
  height: 10rem;
  width: 100%;
  margin-bottom: 1.5rem;
  background-image: url("../images/QuoteImage.jpg");
  background-size: contain;
  background-position: center;
  flex: 0 0 100%;
}

/* >>>>>>>>>>>>  Main section >>>>>>>>>>>>*/
/* main container as flexbox */
main {
  display: flex;
  flex-wrap: wrap;
}

/*>>>>>>>>>>>>>> about me >>>>>>>>>>>>>>>> */
/* style for aboutme container */
.about-me {
  display: flex;
  background-color: var(--c--lgreen);
  padding: 5%;
  border-radius: 5%;
  min-height: 19rem;
  flex-wrap: wrap;
  /* justify-content: center; */
  margin-bottom: 1.5rem;
}

.about-me-h2 {
  /* to have header occupy entire row */
  flex: 0 0 100%;
  padding: 8%;
  text-align: center;
  font-weight: bold;
}

h2 {
  font-size: 180%;
}

.row {
  display: flex;
}
/* adding transtion property for img  */
.profile-image {
  transition: all 0.5s ease-in-out;
}
/* profile img style */
.profile-img img {
  border-radius: 50%;
  width: 100%;
  height: auto;
  /* object-fit: cover; */
  padding: 4%;
}
/* adding hover effect on profile img  with shadow and scaling*/
.profile-img img:hover {
  box-shadow: inset 0px 0px 8px #89ec92, 0 0 15px green;
  transform: scale(1.1);
}

/* setting flex grow 1 */
.profile-img {
  flex: 1;
  align-self: center;
}

/* style for bio class and setting flex-grow to 2 */
.bio {
  flex: 2;
  padding: 2%;
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 2rem;
}
/* creating space between about-me-h3 and about-me-content */
.about-me-content {
  margin: 1%;
}

/*indenting  second paragraph  */
.about-me-content p:nth-of-type(2) {
  text-indent: 5rem;
}
/* style for h3 header in about section */
.about-me-h3 {
  text-align: center;
  font-weight: bold;
  font-size: 120%;
}

/*>>>>>>>>>>>>>> work >>>>>>>>>>>>>>>> */
/* style for work container */
.work {
  display: flex;
  padding: 5%;
  border-radius: 5px;
  min-height: 19rem;
  flex-wrap: wrap;
  background-color: var(--c--lgreen);
  width: 100%;
  /* justify-content: center; */
  margin-bottom: 1.5rem;
}

/* header to cover entire row */
.work-h2 {
  flex: 0 0 100%;
  padding: 8%;
  text-align: center;
  font-weight: bold;
}

/* wrapper for cards */
.cards {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  margin: 1%;
}

.card {
  display: flex;
  flex-direction: row;
  padding: 1%;
  text-align: center;
  font-size: 1.2rem;
  background-color: var(--c--gblack);
  color: var(--c--offwhite);
  /* to have card width of 24% each by flex-shrink and grow to 0 */
  flex: 0 0 24%;
  /* remove after media queries */
  max-width: 24%;
  position: relative;
  /* to have some space above the card when it wraps  */
  margin-bottom: 1rem;
  border-radius: 5%;
}

/* first card to occupy entire row  and making anchor link as well to occupy entire row so image occupy whole space*/
.first-card,
.first-card a {
  flex: 0 0 100%;
  /* remove after media queries */
  max-width: 100%;
}

/*  kept for reference will discard it */
/* to have  flex item and anchor tag to have same size we make anchor to be flex and occupy entire row */
.first-card a {
  display: flex;
  /* flex: 0 0 100%; */
}

/* style for card images */
.card-img {
  width: 100%;
  /*1.making height of an img tall */
  aspect-ratio: 1/1.4;
  transition: transform 0.5s ease-in-out;
  border-radius: 5%;
  /*2.making height of an img tall */
  /* height: 25rem; */
}

/* first card image aligned center to avoid streching */
.first-card .card-img {
  aspect-ratio: unset;
  align-self: center;
}

/* application name in work section */
.app-name {
  position: absolute;
  margin: 1%;
  padding: 1%;
  background-color: var(--c--black);
  font-size: 2rem;
  color: var(--c--offwhite);
  border-radius: 5%;
}

/* having app name at bottom right corner */
.caption-bottom-right {
  align-items: flex-end; /*will move item to bottom*/
  justify-content: flex-end; /*will move item to rightmost*/
}

/*  scaling up app image on hover  and having box shadow */
.card-img:hover {
  transform: scale(1.07);
  box-shadow: 10px 5px 5px var(--c--gblack);
}

/* >>>>>>>>>> resume >>>>>>>>>> */

.resume {
  width: 100%;
  background-color: var(--c--lgreen);
  display: flex;
  padding: 5%;
  border-radius: 5%;
  min-height: 19rem;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
  justify-content: center;
}

.resume-h2 {
  flex: 0 0 100%;
  padding: 8%;
  text-align: center;
  font-weight: bold;
}

.resume-para {
  font-size: 1.2rem;
}

/* >>>>>>>>>>>  contact  >>>>>>>>> */
.contact {
  width: 100%;
  background-color: var(--c--lgreen);
  display: flex;
  padding: 5%;
  /* border-radius: 5%; */
  min-height: 19rem;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
  justify-content: center;
  color: black;
  text-decoration: none;
}

/* contact header */
.contact-h2 {
  flex: 0 0 100%;
  padding: 8%;
  text-align: center;
  font-weight: bold;
}

/* phone and email id */
.phone-mailid {
  text-align: center;
}

/* social icon styles */
.social_icons {
  flex: 0 0 100%;
  padding: 2%;
  text-align: center;
  font-weight: bold;
}

.fa-github-square,
.fa-linkedin {
  color: var(--c--black);
  font-size: 4rem;
}

.copyright-symbol {
  color: var(--c--black);
  font-weight: bold;
}

.fa-envelope {
  color: var(--c--black);
  font-size: 4.3rem;
}

/* >>>>>>>>>>>>>  media queries >>>>>>>> */
/*media queries have to be at last*/
/* for screen  size less then 768px i.e for iPads, Tablets */
@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
  }
  .nav_bar ul {
    padding: 5%;
  }

  .profile-img {
    align-self: flex-start;
    margin-top: 2.5rem;
  }
  /* so  that name  gets aligned in center  */
  .name {
    margin-right: 0;
  }

  .about-me-h2 {
    padding: 1%;
  }

  .card {
    flex: 0 0 46%;
    max-width: 46%;
  }

  .first-card {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .first-card .card-img {
    aspect-ratio: unset;
  }

  .app-name {
    font-size: 1.5rem;
  }
}

/* for screen size smaller than 480px i.e for mobiles*/

@media screen and (max-width: 480px) {
  .card {
    flex: 0 0 98%;
    max-width: 98%;
  }
  .first-card {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .first-card .card-img {
    aspect-ratio: 1/1.4;
  }
}

@media screen and (max-width: 650px) {
  .quote-container {
    display: none;
  }
}
